<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Serv1</servlet-name>
        <servlet-class>packageServlets.Serv1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearXMLNuevo</servlet-name>
        <servlet-class>packageServlets.CrearXMLNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearXMLNuevo2</servlet-name>
        <servlet-class>packageServlets.CrearXMLNuevo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>packageServlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fail</servlet-name>
        <servlet-class>packageServlets.fail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaProfesor</servlet-name>
        <servlet-class>packageServlets.PaginaProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EligePregunta</servlet-name>
        <servlet-class>packageServlets.EligePregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificar</servlet-name>
        <servlet-class>packageServlets.ServletModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminar</servlet-name>
        <servlet-class>packageServlets.ServletEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVisualizar</servlet-name>
        <servlet-class>packageServlets.ServletVisualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificarExamen</servlet-name>
        <servlet-class>packageServlets.ServletModificarExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarExamen</servlet-name>
        <servlet-class>packageServlets.ServletEliminarExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVisualizarExamen</servlet-name>
        <servlet-class>packageServlets.ServletVisualizarExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EligeExamen</servlet-name>
        <servlet-class>packageServlets.EligeExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOpciones</servlet-name>
        <servlet-class>packageServlets.ServletOpciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaProfesorExamenes</servlet-name>
        <servlet-class>packageServlets.PaginaProfesorExamenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPreguntaExamen</servlet-name>
        <servlet-class>packageServlets.ServletPreguntaExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearExamen</servlet-name>
        <servlet-class>packageServlets.CrearExamen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv1</servlet-name>
        <url-pattern>/Serv1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearXMLNuevo</servlet-name>
        <url-pattern>/CrearXMLNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearXMLNuevo2</servlet-name>
        <url-pattern>/CrearXMLNuevo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fail</servlet-name>
        <url-pattern>/fail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaProfesor</servlet-name>
        <url-pattern>/PaginaProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EligePregunta</servlet-name>
        <url-pattern>/EligePregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificar</servlet-name>
        <url-pattern>/ServletModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminar</servlet-name>
        <url-pattern>/ServletEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVisualizar</servlet-name>
        <url-pattern>/ServletVisualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificarExamen</servlet-name>
        <url-pattern>/ServletModificarExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarExamen</servlet-name>
        <url-pattern>/ServletEliminarExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVisualizarExamen</servlet-name>
        <url-pattern>/ServletVisualizarExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EligeExamen</servlet-name>
        <url-pattern>/EligeExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOpciones</servlet-name>
        <url-pattern>/ServletOpciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaProfesorExamenes</servlet-name>
        <url-pattern>/PaginaProfesorExamenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPreguntaExamen</servlet-name>
        <url-pattern>/ServletPreguntaExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearExamen</servlet-name>
        <url-pattern>/CrearExamen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
